@layer base {
  @font-face {
    font-family: "ComicSansMSWeb";
    src: url("/fonts/ComicSans/ComicSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
